In [6]:
import pandas as pd
import datetime
import numpy as np

## CDI

In [29]:
df = pd.read_excel("datalake_files/DCF - RP'22 8&04 - Valores.xlsx",sheet_name = 'Budget',header = 5)
df = df.loc[~df['Unnamed: 1'].isnull()].drop('Unnamed: 0',axis = 1).set_index('Unnamed: 1').T
df.columns.name = None
df = df[list(map(lambda x: type(x) == datetime.datetime,df.index.values))]
serie = df['Cash Accumulated Available'] * 100

## CÃ¢mbio

In [4]:
# df = pd.read_excel('datalake_files/09 Debt vs Setembro 2022 - RP - Budget 2023.xlsx',sheet_name = 'Daily Calculation prop2019',header = 2)
# df = df[['Date','USD','Repayment']].dropna()
# df = df.set_index('Date')
# df = df[datetime.datetime.today():]
# df['Period'] = df.index.to_period('m')
# df['Reais_Acumulado'] = (df['USD'] * df['Repayment']).cumsum()

In [31]:
def shuffle(arr):
    new = arr.copy()
    np.random.shuffle(new)
    return new

In [58]:
df = pd.DataFrame({'a':[0,1,2],'b':[3,4,5],'c':[6,7,8]})
df

   a  b  c
0  0  3  6
1  1  4  7
2  2  5  8

In [72]:
df.apply(lambda x: pd.Series(shuffle(x.values),index = x.index),axis = 1)

   a  b  c
0  6  0  3
1  4  1  7
2  5  2  8